<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
    <ion-back-button defaultHref=""></ion-back-button>
    <ion-title>Review</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Review</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-radio-group [(ngModel)]="movieReview">
    
      <h3></h3>
      <ion-item>
      <ion-label>Great</ion-label>
      <ion-radio value="Great"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>OK</ion-label>
      <ion-radio value="OK"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Decent</ion-label>
      <ion-radio value="Decent"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Bad</ion-label>
      <ion-radio value="Bad"></ion-radio>
    </ion-item>

  </ion-radio-group>

  </ion-list>

  <ion-button (click)="saveReview()">SAVE</ion-button>
</ion-content>
